@use '../utils' as *;

/*----------------------------------------*/
/*  2.11 Breadcrumb
/*----------------------------------------*/

.#{$theme-prefix}-breadcrumb{
    $self: &;
    &__area{
        @media #{$lg,$md} {
            padding-top: 150px;
            padding-bottom: 150px;
        }
        @media #{$sm,$xs} {
            padding-top: 100px;
            padding-bottom: 100px;
        }
        &.mb-120{
            @media #{$lg,$sm,$xs} {
                margin-bottom: 0;
            }
        }
    }
    &__overlay{
        background: rgba(149, 145, 145, 0.05);
    }
    &__bg{
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1;
    }
    &__title{
        font-size: 70px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 0px;
        @media #{$sm,$xs} {
            font-size: 42px;
        }
        &.white{
            color: var(--tp-common-white);
        }
    }
}